# join_2dataframes

In [1]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

In [2]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:8,.2f}'.format

In [3]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [4]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

from pyspark.sql.window import Window


# spark = SparkSession.builder.appName('myappname').getOrCreate()
# print(spark)

In [5]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [6]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")
print(ctx.spark)

<pyspark.sql.session.SparkSession object at 0x000001F80F29B7B8>

In [7]:
# print(sys.path)
from builder.DataFrameBuild import *

## DataFrameBuild Class:
### x = DataFrameBuild(ctx.spark)

In [72]:
x = DataFrameBuild(ctx.spark)

DF1

In [73]:
x = DataFrameBuild(ctx.spark)
num = 500
df1 = x.arrays_to_dataframe([[int(x) for x in np.linspace(1,num,num)],
                             x.build_array("string",num=num,width=8),
                             x.build_array("integer",num=num,nrange=(1,4)),
                             x.build_array("integer",num=num,nrange=(1,12)),
                             x.build_array("double",num=num,nrange=(0.0,10000))],
                            ['index','passwords','quarter','month','price'])

DF2

In [74]:
x = DataFrameBuild(ctx.spark)
num = 500
df2 = x.arrays_to_dataframe([[int(x) for x in np.linspace(1,num,num)],
                             x.build_array("string",num=num,width=8),
                             x.build_array("integer",num=num,nrange=(1,4)),
                             x.build_array("integer",num=num,nrange=(1,12)),
                             x.build_array("double",num=num,nrange=(0.0,10000))],
                             ['index','passwords','quarter','month','price'])

In [75]:
df1.limit(10).toPandas()

   index passwords  quarter  month    price
0      1  ohnzfgbi        3     12 5,926.64
1      2  bxosgnmy        1      4 4,124.54
2      3  syaqohqi        3     11 5,729.71
3      4  kltwiihc        1      6   906.52
4      5  qqhvhvyi        1      8   866.57
5      6  jmivslqu        3      6 6,875.55
6      7  nnlcoatb        1      9 7,585.08
7      8  xmmcqobm        3      6 2,244.51
8      9  dyrhslbd        1      8 8,728.90
9     10  tqkbzfbd        1      7 5,038.72

In [76]:
df2.limit(10).show()

+-----+---------+-------+-----+------------------+
|index|passwords|quarter|month|             price|
+-----+---------+-------+-----+------------------+
|    1| vcukpbff|      4|    6| 5541.234393163349|
|    2| efhqbbzq|      3|    7| 2293.619015284052|
|    3| bztlqpgs|      3|    7| 6826.345542082305|
|    4| kvoqzvbc|      2|    8| 9793.813883245322|
|    5| ycyqpfsg|      3|    6|325.92287334774704|
|    6| ogqbdavo|      3|    2| 6328.430623807999|
|    7| bbrfynno|      1|    3|  8494.68270334824|
|    8| mlssfyup|      2|    5| 4987.541574817552|
|    9| ivaipmzm|      1|   11| 4200.649806516106|
|   10| ndgeytdj|      4|    7|1182.8858401941977|
+-----+---------+-------+-----+------------------+

## Join df1 and df2 on indices.

In [13]:
df_index = df1.join(df2,df1.index == df2.index)
df_index = df1.join(df2,df1["index"] == df2["index"])

In [14]:
%%time
df_index.cache()

Wall time: 257 ms

DataFrame[index: bigint, passwords: string, quarter: bigint, month: bigint, price: double, index: bigint, passwords: string, quarter: bigint, month: bigint, price: double]

In [15]:
df_index.show(20)

+-----+---------+-------+-----+------------------+-----+---------+-------+-----+------------------+
|index|passwords|quarter|month|             price|index|passwords|quarter|month|             price|
+-----+---------+-------+-----+------------------+-----+---------+-------+-----+------------------+
|   26| yybawdph|      3|    3| 4101.289824424533|   26| kirgbycw|      1|    6| 8178.847233321894|
|   29| zstmsafe|      1|   10|3164.9332402134755|   29| soliyidw|      3|    4|  9937.78435562847|
|  474| yobwpbgf|      3|    8| 8737.929693899026|  474| yljidurj|      1|    4|2931.9652989530264|
|   65| ebcrgbeo|      3|    3|  6312.95896365517|   65| lglmlscw|      2|   12|3652.9064903034446|
|  191| rbphfoio|      1|    7| 8246.789676823599|  191| hhdeutpl|      1|    1| 4525.191395447187|
|  418| iebykzcr|      1|    2| 4247.362931335745|  418| hswienxm|      4|    8| 7913.534031722076|
|  222| kboilakn|      2|    7|2045.2625076775732|  222| ecucxnjt|      1|   11|  7360.19458119175|
|  270| iztzmzab|      4|    3| 3185.263401831332|  270| zonjxkuc|      3|   10| 8247.839076913622|
|  293| ogvyaarv|      4|    6|6650.3623985826225|  293| dkcezhws|      1|    1| 3525.047645414815|
|  243| bulnaejd|      2|    4| 1761.547445819789|  243| pysygsqg|      1|    7| 5440.623909201738|
|  278| hdxajdba|      4|    4|2325.6587258143268|  278| wygwpogv|      3|    9|  9390.64093085974|
|  367| srquibnc|      2|    7| 9360.863489964977|  367| shzugquj|      3|    9| 4591.212904234015|
|  442| rqmtpwxz|      4|    4| 5751.755417439577|  442| cjfowmkm|      2|    3|1365.0949353928022|
|   19| coojtihg|      1|   10|2738.9050224721145|   19| eavfyiud|      1|    8|2332.1360086525247|
|   54| pltehmbc|      3|   10| 7549.539795286217|   54| houyieuz|      1|   10|1568.0885588914562|
|  296| idqjasjm|      4|    6|1781.9094643649546|  296| lssyfwli|      2|    2| 4486.515947300761|
|  277| qzqqqmsj|      1|   10|2968.5963343286417|  277| irastgnv|      1|    3|1345.5374889393424|
|  287| vmampwua|      3|    7| 2522.781929344662|  287| wimfqdey|      1|    5| 3363.289628136267|
|  348| cpzpijpw|      4|    5|1098.9996851925964|  348| xbamxjgg|      4|    4| 694.6896730551888|
|  415| npjhnsea|      2|   10| 6801.037741647651|  415| fndlaxzv|      1|    8|  9190.94829373708|
+-----+---------+-------+-----+------------------+-----+---------+-------+-----+------------------+
only showing top 20 rows

In [16]:
df_index.columns

['index',
 'passwords',
 'quarter',
 'month',
 'price',
 'index',
 'passwords',
 'quarter',
 'month',
 'price']

## Join df1 and df2 on indices. (round 2)

In [ ]:
df_i2 = df1.alias("o")\
.join(df2.alias("t"),col("o.index") == col("t.index"))

# df_index = df1.join(df2,df1["index"] == df2["index"])

In [ ]:
%%time
df_i2.cache()

In [ ]:
df_i2.show(20)

In [ ]:
df_i2.columns

## Create a new column calculated from current column values.

In [14]:
df3 = df1\
.filter(col("month") == 9)\
.filter(col("month") == 8)

In [22]:
df4 = df1\
.filter((col("month") == 9) | 
        (col("month") == 8) |
        (col("quarter") == 3)
       )

In [15]:
df3.limit(8).toPandas()

Empty DataFrame
Columns: [index, passwords, quarter, month, price]
Index: []

In [24]:
df4.limit(32).toPandas()

    index passwords  quarter  month    price
0       1  clcnnvyv        2      8 6,022.08
1       4  dbpxfrqw        3     12 8,172.45
2       5  bdqlofhq        2      9 3,720.03
3      11  jkztjrrm        1      8 6,926.03
4      12  jdailwpz        3      9 2,013.15
5      15  lqgkktxc        3      1 2,504.63
6      18  toqcmpak        3     11 8,211.26
7      21  nzwehhzg        3      4 2,402.05
8      22  awqrcast        3      3   538.21
9      26  msfudwue        3     12 2,483.86
10     27  kgaasbam        2      8 6,417.40
11     28  oaejbbdq        3      2 8,265.88
12     29  hnaptcaw        3      4 2,309.60
13     35  zhyglvcf        1      8 8,116.24
14     37  zlaiurfj        4      9 4,783.19
15     41  igxmktbw        3      9 1,262.34
16     43  dvxclask        3      6 8,912.48
17     45  wpwoiyzz        3     10 2,940.93
18     46  sqnprblx        4      8 7,203.12
19     47  ezfokmqj        3     11 1,344.20
20     48  urqpdfuz        3      1 8,166.86
21     50  nitrihcq        3      1 9,468.13
22     54  xyovysrs        3     12 8,415.22
23     56  jygvzixt        3      4 4,162.91
24     57  zoqrfbis        3      6 6,356.07
25     59  kfsfqcch        3     11 5,320.59
26     61  gjldciue        3      5 3,336.81
27     63  qwjwnhpc        3     11 6,315.87
28     65  ztdagvnh        3      9 1,509.61
29     74  tyqmfhkb        3      1 5,862.63
30     75  ygqcxjdv        3      7 7,033.77
31     83  akeewysl        3      8 9,613.23

In [23]:
df4.count()

180

In [40]:
df5 = df4\
.groupBy("month", "quarter")\
.agg(avg("price"))\
.orderBy("month")

In [42]:
df5.count()

18

In [43]:
df6 = df5.filter(col("quarter") == 3)

In [46]:
df6.limit(10).toPandas()

   month  quarter  avg(price)
0      1        3    6,097.54
1      2        3    7,020.26
2      3        3    5,117.60
3      4        3    4,486.07
4      5        3    3,399.59
5      6        3    5,939.97
6      7        3    6,539.49
7      8        3    5,642.59
8      9        3    3,891.82
9     10        3    4,920.09

In [41]:
df5.limit(50).toPandas()

    month  quarter  avg(price)
0       1        3    6,097.54
1       2        3    7,020.26
2       3        3    5,117.60
3       4        3    4,486.07
4       5        3    3,399.59
5       6        3    5,939.97
6       7        3    6,539.49
7       8        3    5,642.59
8       8        2    4,350.95
9       8        4    6,849.49
10      8        1    5,553.40
11      9        1    4,776.48
12      9        2    3,550.33
13      9        3    3,891.82
14      9        4    5,356.34
15     10        3    4,920.09
16     11        3    5,995.40
17     12        3    5,506.31

In [37]:
# df4.groupby("quarter")\
# .agg(count("quarter")).show()

df4\
.withColumn("eps_avg",when((col("month") == 9),sum(df4.filter(col("month") == 9)['price'])).otherwise(0))

            
# .filter(col("quarter") == 3 & col("month") != 8
#     .agg(when(, count("quarter")))

AnalysisException: "grouping expressions sequence is empty, and '`index`' is not an aggregate function. Wrap '(CASE WHEN (`month` = CAST(9 AS BIGINT)) THEN sum(`price`) ELSE CAST(0 AS DOUBLE) END AS `eps_avg`)' in windowing function(s) or wrap '`index`' in first() (or first_value) if you don't care which value you get.;;\nAggregate [index#0L, passwords#1, quarter#2L, month#3L, price#4, CASE WHEN (month#3L = cast(9 as bigint)) THEN sum(price#4) ELSE cast(0 as double) END AS eps_avg#119]\n+- Filter (((month#3L = cast(9 as bigint)) || (month#3L = cast(8 as bigint))) || (quarter#2L = cast(3 as bigint)))\n   +- LogicalRDD [index#0L, passwords#1, quarter#2L, month#3L, price#4], false\n"

# df1 cont'd

In [85]:
df1.count()

500

In [65]:
df1.limit(10).toPandas()

   index passwords  quarter  month    price
0      1  kzkbsjxl        2     11 5,644.58
1      2  srntqhqq        3      5 9,814.11
2      3  lmfxfoci        2      3 1,089.28
3      4  eydoutop        1     10 6,535.37
4      5  qlhgpuut        3      9 5,357.19
5      6  prvlsexg        3     11     9.55
6      7  zbfxzkzn        3     10 1,303.85
7      8  jsdpvchc        3     10 6,359.49
8      9  ophmvozn        3      5 2,002.10
9     10  lwzxioze        1     10 2,975.93

In [69]:
w_priceperquarter = Window\
.orderBy(col("month").desc())\
.rangeBetween(4, 6)

In [ ]:
windowSpec = \
  Window 
    .partitionBy(df['category']) \
    .orderBy(df['revenue'].desc()) \
    .rangeBetween(-sys.maxsize, sys.maxsize)

In [72]:
df1.withColumn("avg-price",w_priceperquarter(avg('price'))).show()

TypeError: 'WindowSpec' object is not callable

In [ ]:
w = (Window.orderBy(F.col("timestampGMT").cast('long')).rangeBetween(-days(7), 0))

df = df.withColumn('rolling_average', F.avg("dollars").over(w))

In [87]:
w1 = Window\
.orderBy(col("index"))\
.rangeBetween(

TypeError: rangeBetween() missing 1 required positional argument: 'end'

# Window testing

In [80]:
winQM = Window\
.partitionBy('quarter')\
.partitionBy('month')\
.orderBy("quarter","month")

winQM2 = Window\
.partitionBy('month')\
.partitionBy('quarter')\
.orderBy("quarter","month")

winQM3 = Window\
.partitionBy('quarter', 'month')\
.orderBy("quarter","month")


winQ = Window\
.partitionBy('quarter')\
.orderBy("quarter","month")

winM = Window\
.partitionBy("month")\
.orderBy("quarter","month")


byMonth = Window\
.orderBy("month")\
.partitionBy('month')\
.partitionBy('quarter')

In [67]:
df_Q = df1.withColumn("avg_price", mean("price").over(winQ))
# df_Q.show(12)
df_Q.sample(0.1).show(20)

+-----+---------+-------+-----+------------------+------------------+
|index|passwords|quarter|month|             price|         avg_price|
+-----+---------+-------+-----+------------------+------------------+
|  441| xhruzkww|      1|    1| 5198.690268804251|4990.4177824743365|
|  401| iccfqpiv|      1|    3| 8895.113007113754| 5029.899801333232|
|  437| riphelwq|      1|    3|3516.8071596013638| 5029.899801333232|
|  146| zuhlmlfr|      1|    4|1133.8677280772959| 4868.552179284961|
|  191| rbphfoio|      1|    7| 8246.789676823599| 4958.030360022241|
|  297| akmwrrml|      1|    9| 1432.952340223278| 5003.645762335367|
|  257| ggzntort|      3|    1| 7402.294186189028|6468.0302799844885|
|   26| yybawdph|      3|    3| 4101.289824424533| 5340.272721129356|
|  376| odtthcgs|      3|    3| 4894.791671891981| 5340.272721129356|
|   86| qnyrnzxf|      3|    4| 2751.261862138721| 5473.155379283507|
|   88| sxwfcwgp|      3|    4| 9386.868898997645| 5473.155379283507|
|  298| nlxeaovh|      3|    4|  4387.14783126542| 5473.155379283507|
|    4| yhtcacva|      3|    5| 527.6831053752961| 5240.593860653001|
|  158| qmqswubb|      3|    9|1563.7782375547204| 5404.655442340047|
|  482| tlyipcsj|      3|   11| 5713.911809104486|5335.7211157875245|
|  484| yhdmortp|      3|   12| 6395.015790594372| 5406.123294153959|
|  142| mwqcaapr|      2|    2| 9003.945044171795| 4652.843376253399|
|  218| yfwwfcxm|      2|    2| 9538.897168176354| 4652.843376253399|
|  110| jvpdijfl|      2|    5| 5698.178886402362| 4937.577718149538|
|  250| vzhzdorw|      2|    5|3994.2044377943953| 4937.577718149538|
+-----+---------+-------+-----+------------------+------------------+
only showing top 20 rows

In [68]:
df_M = df1.withColumn("avg_price", mean("price").over(winM))
# df_M.show(12)
df_M.sample(0.1).show(20)

+-----+---------+-------+-----+------------------+------------------+
|index|passwords|quarter|month|             price|         avg_price|
+-----+---------+-------+-----+------------------+------------------+
|  191| rbphfoio|      1|    7| 8246.789676823599|  4426.71917345324|
|  222| kboilakn|      2|    7|2045.2625076775732| 4767.665634438058|
|  185| mkckkrxk|      1|    6| 6779.021448831084| 5479.341144568709|
|  219| pppbijgt|      1|    6| 7903.928260724644| 5479.341144568709|
|   14| dfqykcbg|      4|    9| 8368.375631710302| 4781.640877243091|
|  197| lujgiqiy|      1|    5|1600.9123494530443| 5131.325026252701|
|  271| yueeooem|      1|    5| 818.5740661364449| 5131.325026252701|
|   35| srwsreit|      2|    5|2390.2220905364534| 4932.332128113493|
|    3| htfgzhia|      3|    5|6726.2263238776795| 4722.662702885805|
|   79| rxltrvsh|      4|    5| 6130.945585246142| 4620.811458783582|
|  435| hzivoqiz|      4|    5|  4864.37886327801| 4620.811458783582|
|  147| bezkrwey|      1|    1|7555.2142046701965|4990.4177824743365|
|  354| wvjlzden|      1|    1| 2522.228876195256|4990.4177824743365|
|  360| zwljwcoh|      1|    1| 3.174184556730131|4990.4177824743365|
|   43| ghvcahmd|      2|    1| 9497.854538832453|   4860.2346823262|
|   71| wsnkzlel|      3|    1| 8343.610062659689| 5327.014049388283|
|  263| argrazzy|      3|    1| 3553.799722995252| 5327.014049388283|
|  305| eflywmuj|      4|    1|2762.7962214190406| 5341.587905102322|
|  277| qzqqqmsj|      1|   10|2968.5963343286417| 4517.402583645931|
|  249| aqeijuit|      3|   10| 7461.399502995952| 4940.281345111629|
+-----+---------+-------+-----+------------------+------------------+
only showing top 20 rows

In [69]:
df_QM1 = df_Q.withColumn("avg_priceM", mean("price").over(winM))
# df_QM1.show(12)
df_QM1.sample(0.1).show(20)

+-----+---------+-------+-----+------------------+------------------+------------------+
|index|passwords|quarter|month|             price|         avg_price|        avg_priceM|
+-----+---------+-------+-----+------------------+------------------+------------------+
|  248| vmqgpcxf|      3|    7| 5053.231039789373| 5262.825022487481| 5221.352705421936|
|  287| vmampwua|      3|    7| 2522.781929344662| 5262.825022487481| 5221.352705421936|
|  318| haeismqz|      4|    7| 6049.653019381443| 4585.701664295067|  4854.81323099371|
|  321| vtnyonfe|      2|    6|3080.4980163234472| 4853.700445399636| 4928.788891625552|
|  355| ylruchxk|      2|    6|1304.7336916720033| 4853.700445399636| 4928.788891625552|
|  183| bszmwvum|      3|    6| 7329.526921985802| 5113.754943505666| 4835.678037732626|
|  168| zcmbxxoi|      4|    6| 8044.718817245886| 4674.681710188344| 4893.063983706119|
|  338| fmkkdfos|      4|    6|1821.1113581416828| 4674.681710188344| 4893.063983706119|
|   61| rxpronch|      1|    9|1467.1110297165612| 5003.645762335367|  4392.68733738358|
|  205| tfbrpczh|      2|    9| 6358.119618009257|4895.5619165496455| 5146.682490682162|
|  478| mrrpdbdl|      2|    9| 7539.735292865077|4895.5619165496455| 5146.682490682162|
|  435| hzivoqiz|      4|    5|  4864.37886327801| 4617.786627861559| 4620.811458783582|
|  230| fftqdufe|      1|    1|  8365.19102950656|4990.4177824743365|4990.4177824743365|
|   56| dndfmtkc|      3|    1| 2091.783927207409|6468.0302799844885| 5327.014049388283|
|   75| begrsijl|      4|    1| 8809.072935800303| 5386.766857815846| 5341.587905102322|
|  305| eflywmuj|      4|    1|2762.7962214190406| 5386.766857815846| 5341.587905102322|
|  393| hkqmhqtn|      4|    1|  7494.22923147976| 5386.766857815846| 5341.587905102322|
|  112| flwcnnzq|      1|   10| 3000.124064350075| 4936.399365282572| 4517.402583645931|
|  128| irnixoga|      3|   10|2220.6190937263605| 5350.218159306314| 4940.281345111629|
|   72| zpublgqc|      4|   10|1570.6660205707567| 4875.152365926605| 5131.588212340914|
+-----+---------+-------+-----+------------------+------------------+------------------+
only showing top 20 rows

In [70]:
# df_a1 = df1.withColumn("avg_price", mean("price").over(winQM)).sample(0.1).orderBy("quarter","month").show(12)

# Note to self:
- Why do I prefer Window over GroupBy?
- Ans: i'd have to join later
- Ans: if I want to filter by 2 later columns.. but currently this would have the negative values in there
- Ans: alternatively, if I filter by age, then I can't get many ages .. or go back and filter on multiple columns later

- example: month 1, quarter 2, if password starts with h
- filter(startswith(h)) & month = 1 & quarter = 2)

In [60]:
df_gb1 = df1.groupBy("quarter","month").agg(mean("price")).sample(0.1).show(32)

+-------+-----+-----------------+
|quarter|month|       avg(price)|
+-------+-----+-----------------+
|      2|    5|4763.953521995699|
|      3|    8|7825.547969734452|
|      1|    4|4472.517106984661|
|      2|    3|5295.922507614247|
|      2|   12|5115.058605467251|
|      1|   10|4517.402583645931|
|      4|    1|5386.766857815846|
|      2|    4|5467.194414802793|
|      3|    9|4321.776549365829|
|      4|   11| 5306.08865537361|
|      1|   12|4691.809543727584|
+-------+-----+-----------------+

## month then quarter

In [86]:
df_QM_a1 = df1.withColumn("avg_priceM", mean("price").over(winM))
df_QM_a2 = df_QM_a1.withColumn("avg_priceQ", mean("price").over(winQ))
df_QM_a3 = df_QM_a2.withColumn("avg_priceQM", mean("price").over(winQM))
df_QM_a4 = df_QM_a3.withColumn("avg_priceQM2", mean("price").over(winQM2))
df_QM_a5 = df_QM_a4.withColumn("avg_priceQM3", mean("price").over(winQM3))

# df_QM_a4.show(12)
df_QM_a5.sample(0.1).limit(32).toPandas()

,index,passwords,quarter,month,price,avg_priceM,avg_priceQ,avg_priceQM,avg_priceQM2,avg_priceQM3
0,467,ojoytpkb,1,2,"9,830.60","3,887.23","4,079.88","3,887.23","4,079.88","3,887.23"
1,50,yflqqspv,1,4,"5,886.54","4,869.66","4,631.30","4,869.66","4,631.30","4,869.66"
2,174,cjwztyab,1,8,"8,190.26","6,267.96","5,224.18","6,267.96","5,224.18","6,267.96"
3,53,kmvgpnnh,1,9,"2,286.63","5,814.37","5,312.71","5,814.37","5,312.71","5,814.37"
4,395,ewwiqgdl,1,9,"8,720.11","5,814.37","5,312.71","5,814.37","5,312.71","5,814.37"
5,316,bfoarlog,1,10,"3,957.11","4,028.62","5,170.04","4,028.62","5,170.04","4,028.62"
6,379,kusabwsp,1,12,93.99,"4,569.25","5,210.80","4,569.25","5,210.80","4,569.25"
7,419,bsjsekbl,3,1,"7,599.35","4,553.52","3,619.04","4,553.52","3,619.04","3,619.04"
8,181,uyfcwqnw,3,3,"2,609.72","5,183.65","4,942.89","5,183.65","4,942.89","5,749.47"
9,447,gljeuepl,3,4,"9,984.23","5,150.34","4,957.91","5,150.34","4,957.91","5,078.11"
10,251,zfdxtawo,3,5,"4,119.06","5,812.06","5,039.93","5,812.06","5,039.93","5,567.20"
11,126,lrsxuukt,3,6,768.18,"4,302.63","4,731.07","4,302.63","4,731.07","3,495.65"
12,311,mkzbwrtb,3,7,"1,048.91","5,025.37","4,733.80","5,025.37","4,733.80","4,748.55"
13,237,hepnvtqh,3,11,"1,605.45","5,439.05","5,020.57","5,439.05","5,020.57","5,201.19"
14,332,dumgwpua,3,12,812.41,"4,071.03","4,877.97","4,071.03","4,877.97","3,594.55"
15,360,rqibcfke,3,12,974.93,"4,071.03","4,877.97","4,071.03","4,877.97","3,594.55"
16,120,roblpghz,2,2,"2,691.80","4,304.87","5,002.14","4,304.87","5,002.14","4,561.88"
17,94,tqhaogme,2,4,"5,990.69","5,164.79","4,911.11","5,164.79","4,911.11","5,361.54"
18,294,zzhcwtzo,2,4,"7,911.31","5,164.79","4,911.11","5,164.79","4,911.11","5,361.54"
19,266,nuknpqvz,2,5,"9,035.56","5,943.90","5,087.61","5,943.90","5,087.61","5,808.33"
20,489,jqfwapdn,2,5,"3,908.64","5,943.90","5,087.61","5,943.90","5,087.61","5,808.33"
21,219,ojamycws,2,6,"3,729.15","5,109.60","5,038.29","5,109.60","5,038.29","4,662.20"
22,67,jzdoedwv,2,7,"9,316.75","5,153.14","4,968.15","5,153.14","4,968.15","4,484.17"
23,201,efvrqgoc,2,7,"5,224.49","5,153.14","4,968.15","5,153.14","4,968.15","4,484.17"
24,33,diuzrugc,2,8,"9,782.25","5,913.46","5,044.30","5,913.46","5,044.30","5,591.18"
25,267,dxwsrbkd,2,8,"7,142.39","5,913.46","5,044.30","5,913.46","5,044.30","5,591.18"
26,411,qsubgqfj,2,8,"7,934.22","5,913.46","5,044.30","5,913.46","5,044.30","5,591.18"
27,194,apelbveb,2,9,"1,702.96","5,812.44","5,113.89","5,812.44","5,113.89","5,809.87"
28,297,hwctxdku,2,9,"7,457.67","5,812.44","5,113.89","5,812.44","5,113.89","5,809.87"
29,164,vpimgvnf,2,10,"6,742.38","5,161.66","5,219.57","5,161.66","5,219.57","5,917.02"
30,246,wlykcfsy,2,10,962.47,"5,161.66","5,219.57","5,161.66","5,219.57","5,917.02"
31,285,ynnkncck,4,2,"3,519.68","4,732.66","5,732.12","4,732.66","5,732.12","5,630.05"

## quarter then month

In [94]:
dq1 = df1\
.withColumn("Avg_priceQ", mean("price").over(winQ))\
.withColumn("Avg_priceM", mean("price").over(winM))\
.withColumn("Avg_priceQM", mean("price").over(winQM))\
.withColumn("Avg_priceQM3", mean("price").over(winQM3))

dm1 = df1\
.withColumn("Avg_priceM", mean("price").over(winM))\
.withColumn("Avg_priceQ", mean("price").over(winQ))\
.withColumn("Avg_priceQM", mean("price").over(winQM))\
.withColumn("Avg_priceQM3", mean("price").over(winQM3))


# df_QM_a4 = df_QM_a3.withColumn("avg_priceQM2", mean("price").over(winQM2))
# df_QM_a5 = df_QM_a4.withColumn("avg_priceQM3", mean("price").over(winQM3))

# # df_QM_a4.show(12)
# df_QM_a5.sample(0.1).limit(32).toPandas()

In [99]:
dq1.sample(0.1).limit(100).toPandas()

,index,passwords,quarter,month,price,Avg_priceQ,Avg_priceM,Avg_priceQM,Avg_priceQM3
0,67,jzdoedwv,2,7,"9,316.75","4,968.15","5,153.14","5,153.14","4,484.17"
1,80,ahtbhybc,3,7,"8,882.99","4,733.80","5,025.37","5,025.37","4,748.55"
2,496,empfguux,3,7,"3,629.10","4,733.80","5,025.37","5,025.37","4,748.55"
3,64,cibujdor,4,7,"4,384.33","5,416.12","5,227.33","5,227.33","5,775.49"
4,277,azcelwdq,4,7,"4,013.80","5,416.12","5,227.33","5,227.33","5,775.49"
5,463,inspkjrb,4,7,"5,096.08","5,416.12","5,227.33","5,227.33","5,775.49"
6,149,zrmyfbcv,1,6,"7,827.66","4,843.45","5,825.45","5,825.45","5,825.45"
7,140,hebegeyq,2,6,"6,769.04","5,038.29","5,109.60","5,109.60","4,662.20"
8,118,qrrcyiop,4,6,"8,700.59","5,332.27","4,975.84","4,975.84","6,567.06"
9,292,mihbhlbp,4,6,"3,772.66","5,332.27","4,975.84","4,975.84","6,567.06"
10,469,zcxaqyjh,4,6,"5,693.84","5,332.27","4,975.84","4,975.84","6,567.06"
11,473,uuwstetz,4,6,"8,475.90","5,332.27","4,975.84","4,975.84","6,567.06"
12,53,kmvgpnnh,1,9,"2,286.63","5,312.71","5,814.37","5,814.37","5,814.37"
13,395,ewwiqgdl,1,9,"8,720.11","5,312.71","5,814.37","5,814.37","5,814.37"
14,134,nkyuayel,2,9,"8,977.06","5,113.89","5,812.44","5,812.44","5,809.87"
15,122,rbmzzcbk,4,9,"8,359.74","5,300.02","5,467.14","5,467.14","5,257.16"
16,131,lhjtwnft,4,9,137.73,"5,300.02","5,467.14","5,467.14","5,257.16"
17,179,xwbcpjfg,4,9,"8,015.88","5,300.02","5,467.14","5,467.14","5,257.16"
18,441,ssrfpnee,4,9,"7,747.63","5,300.02","5,467.14","5,467.14","5,257.16"
19,235,yxtipdlq,2,5,"5,766.08","5,087.61","5,943.90","5,943.90","5,808.33"
20,492,ijuikzir,2,1,"8,937.32","5,522.44","4,996.17","4,996.17","5,522.44"
21,474,llxmhsyu,3,1,"1,417.02","3,619.04","4,553.52","4,553.52","3,619.04"
22,373,ojdizqng,4,1,53.18,"5,856.87","4,870.55","4,870.55","5,856.87"
23,125,xnujpjrl,1,10,"9,301.14","5,170.04","4,028.62","4,028.62","4,028.62"
24,299,swwhibui,2,10,"6,201.41","5,219.57","5,161.66","5,161.66","5,917.02"
25,482,lktvmgct,2,10,"9,608.56","5,219.57","5,161.66","5,161.66","5,917.02"
26,377,fhcfkrdv,3,10,"3,952.39","5,009.94","5,239.78","5,239.78","5,435.09"
27,329,rfeogiks,1,3,"2,817.49","4,539.63","5,275.23","5,275.23","5,275.23"
28,410,ttikdkbl,2,3,"8,584.42","4,712.39","4,646.11","4,646.11","4,017.00"
29,181,uyfcwqnw,3,3,"2,609.72","4,942.89","5,183.65","5,183.65","5,749.47"
30,426,pqkpaafz,1,12,"7,734.41","5,210.80","4,569.25","4,569.25","4,569.25"
31,445,orlxqbmd,1,12,280.63,"5,210.80","4,569.25","4,569.25","4,569.25"
32,55,wbotnebg,2,12,985.00,"5,121.86","4,371.95","4,371.95","4,033.73"
33,75,uxdsgtrg,2,12,"8,449.30","5,121.86","4,371.95","4,371.95","4,033.73"
34,51,dthsvucm,4,12,"3,384.00","5,131.07","4,443.72","4,443.72","5,165.80"
35,172,denyxbcu,4,12,"7,284.17","5,131.07","4,443.72","4,443.72","5,165.80"
36,33,diuzrugc,2,8,"9,782.25","5,044.30","5,913.46","5,913.46","5,591.18"
37,438,pcbupdtk,2,8,"2,363.29","5,044.30","5,913.46","5,913.46","5,591.18"
38,243,pexwpoqv,1,11,"1,770.33","5,282.75","5,879.45","5,879.45","5,879.45"
39,241,gcyckmxv,2,2,"3,109.65","5,002.14","4,304.87","4,304.87","4,561.88"
40,263,wbbcvime,2,2,"5,695.22","5,002.14","4,304.87","4,304.87","4,561.88"
41,352,qsrszfus,2,2,"8,263.44","5,002.14","4,304.87","4,304.87","4,561.88"
42,339,mnvabaom,3,2,"9,162.81","4,213.12","4,433.52","4,433.52","4,658.67"
43,285,ynnkncck,4,2,"3,519.68","5,732.12","4,732.66","4,732.66","5,630.05"
44,403,uzntninx,4,2,"4,196.50","5,732.12","4,732.66","4,732.66","5,630.05"
45,76,sgqqogxh,2,4,"1,445.13","4,911.11","5,164.79","5,164.79","5,361.54"

In [100]:
dm1.sample(0.1).limit(100).toPandas()

,index,passwords,quarter,month,price,Avg_priceM,Avg_priceQ,Avg_priceQM,Avg_priceQM3
0,36,tcwjbcbc,1,7,"5,277.66","5,571.24","5,044.22","5,571.24","5,571.24"
1,191,qnnfaarz,1,7,"5,462.44","5,571.24","5,044.22","5,571.24","5,571.24"
2,59,almbiecf,4,7,"8,230.19","5,227.33","5,416.12","5,227.33","5,775.49"
3,64,cibujdor,4,7,"4,384.33","5,227.33","5,416.12","5,227.33","5,775.49"
4,182,gwtipjin,4,7,"9,881.87","5,227.33","5,416.12","5,227.33","5,775.49"
5,219,ojamycws,2,6,"3,729.15","5,109.60","5,038.29","5,109.60","4,662.20"
6,317,yebbxgkp,2,6,"7,428.71","5,109.60","5,038.29","5,109.60","4,662.20"
7,440,xdiuvhbo,2,6,779.63,"5,109.60","5,038.29","5,109.60","4,662.20"
8,444,nebdncgo,2,6,"3,753.97","5,109.60","5,038.29","5,109.60","4,662.20"
9,233,pmjhyzgz,3,6,"4,046.95","4,302.63","4,731.07","4,302.63","3,495.65"
10,236,svxydpcb,2,9,"2,945.81","5,812.44","5,113.89","5,812.44","5,809.87"
11,347,zozobdrb,3,9,"9,519.73","5,561.27","4,963.73","5,561.27","4,901.93"
12,448,usgnjwww,3,9,"8,410.64","5,561.27","4,963.73","5,561.27","4,901.93"
13,131,lhjtwnft,4,9,137.73,"5,467.14","5,300.02","5,467.14","5,257.16"
14,163,nnykgnge,4,5,"6,292.60","4,972.19","5,055.07","4,972.19","3,292.46"
15,413,kksjlmev,1,1,"8,779.27","4,272.54","4,272.54","4,272.54","4,272.54"
16,424,srivgowb,1,1,769.82,"4,272.54","4,272.54","4,272.54","4,272.54"
17,313,bbcppvfu,2,1,"9,067.83","4,996.17","5,522.44","4,996.17","5,522.44"
18,460,abnbwlcw,3,1,"2,226.72","4,553.52","3,619.04","4,553.52","3,619.04"
19,302,zpcqokxk,1,10,"3,068.18","4,028.62","5,170.04","4,028.62","4,028.62"
20,246,wlykcfsy,2,10,962.47,"5,161.66","5,219.57","5,161.66","5,917.02"
21,128,lbnzehng,3,10,916.12,"5,239.78","5,009.94","5,239.78","5,435.09"
22,389,dlyudeav,3,10,"6,819.33","5,239.78","5,009.94","5,239.78","5,435.09"
23,16,qwawatjw,4,10,"2,606.79","5,016.47","5,207.62","5,016.47","3,713.83"
24,139,udppmjkg,4,10,405.40,"5,016.47","5,207.62","5,016.47","3,713.83"
25,254,kodkomlp,1,3,"1,463.59","5,275.23","4,539.63","5,275.23","5,275.23"
26,329,rfeogiks,1,3,"2,817.49","5,275.23","4,539.63","5,275.23","5,275.23"
27,82,jzkjcohi,3,3,"6,205.29","5,183.65","4,942.89","5,183.65","5,749.47"
28,173,czviprxe,3,3,113.56,"5,183.65","4,942.89","5,183.65","5,749.47"
29,481,avghcxvw,3,3,"7,303.05","5,183.65","4,942.89","5,183.65","5,749.47"
30,55,wbotnebg,2,12,985.00,"4,371.95","5,121.86","4,371.95","4,033.73"
31,91,jhexxmmz,3,12,"1,652.00","4,071.03","4,877.97","4,071.03","3,594.55"
32,52,swijxgib,4,12,"4,307.87","4,443.72","5,131.07","4,443.72","5,165.80"
33,366,ibszosfd,4,12,"6,799.91","4,443.72","5,131.07","4,443.72","5,165.80"
34,384,lbkuskni,4,12,"1,699.46","4,443.72","5,131.07","4,443.72","5,165.80"
35,5,qqhvhvyi,1,8,866.57,"6,267.96","5,224.18","6,267.96","6,267.96"
36,438,pcbupdtk,2,8,"2,363.29","5,913.46","5,044.30","5,913.46","5,591.18"
37,211,sxguqffb,4,8,"5,500.42","5,844.57","5,306.65","5,844.57","4,496.56"
38,422,yqyimsco,2,11,"9,697.25","5,496.13","5,184.29","5,496.13","4,681.59"
39,119,ttxehusn,4,11,"5,983.60","5,156.24","5,126.28","5,156.24","4,481.84"
40,290,wsmggovm,4,11,"3,815.05","5,156.24","5,126.28","5,156.24","4,481.84"
41,480,gplpsvze,4,11,"1,203.91","5,156.24","5,126.28","5,156.24","4,481.84"
42,298,ntflfaww,2,2,"2,005.69","4,304.87","5,002.14","4,304.87","4,561.88"
43,343,mvjffuwk,2,2,"6,166.20","4,304.87","5,002.14","4,304.87","4,561.88"
44,244,lshmiujl,4,2,"6,315.68","4,732.66","5,732.12","4,732.66","5,630.05"
45,81,plohpuyy,2,4,"2,137.69","5,164.79","4,911.11","5,164.79","5,361.54"
46,113,kstzwkba,2,4,"4,441.61","5,164.79","4,911.11","5,164.79","5,361.54"
47,408,fliqllfd,2,4,"9,693.69","5,164.79","4,911.11","5,164.79","5,361.54"
48,223,gbdvddwb,3,4,211.61,"5,150.34","4,957.91","5,150.34","5,078.11"

In [101]:
dg1 = df1\
.groupBy("quarter","month")\
.agg(avg("price"))\
.orderBy("quarter","month")

In [98]:
dg1.limit(100).toPandas()

    quarter  month  avg(price)
0         1      1    4,272.54
1         1      2    3,887.23
2         1      3    5,275.23
3         1      4    4,869.66
4         1      5    7,570.77
5         1      6    5,825.45
6         1      7    5,571.24
7         1      8    6,267.96
8         1      9    5,814.37
9         1     10    4,028.62
10        1     11    5,879.45
11        1     12    4,569.25
12        2      1    5,522.44
13        2      2    4,561.88
14        2      3    4,017.00
15        2      4    5,361.54
16        2      5    5,808.33
17        2      6    4,662.20
18        2      7    4,484.17
19        2      8    5,591.18
20        2      9    5,809.87
21        2     10    5,917.02
22        2     11    4,681.59
23        2     12    4,033.73
24        3      1    3,619.04
25        3      2    4,658.67
26        3      3    5,749.47
27        3      4    5,078.11
28        3      5    5,567.20
29        3      6    3,495.65
30        3      7    4,748.55
31        3      8    7,563.63
32        3      9    4,901.93
33        3     10    5,435.09
34        3     11    5,201.19
35        3     12    3,594.55
36        4      1    5,856.87
37        4      2    5,630.05
38        4      3    6,486.67
39        4      4    3,918.33
40        4      5    3,292.46
41        4      6    6,567.06
42        4      7    5,775.49
43        4      8    4,496.56
44        4      9    5,257.16
45        4     10    3,713.83
46        4     11    4,481.84
47        4     12    5,165.80

## Example 1.

## Example 2.

### month then quarter

In [ ]:
+-----+---------+-------+-----+------------------+------------------+------------------+------------------+------------------+
|index|passwords|quarter|month|             price|        avg_priceM|        avg_priceQ|       avg_priceQM|      avg_priceQM2|
+-----+---------+-------+-----+------------------+------------------+------------------+------------------+------------------+
|  145| jhfxegcs|      1|    4|3293.3090538514407| 4869.663346376393| 4631.304900548585| 4869.663346376393| 4631.304900548585|
|  456| bnunfcex|      1|    6| 8036.659841674585| 5825.451313405875| 4843.452551806632| 5825.451313405875| 4843.452551806632|
|  188| fgwndujf|      1|    7|  9285.08697130339| 5571.243320190696|5044.2224189470635| 5571.243320190696|5044.2224189470635|
|  257| iolobnir|      1|    7| 5844.348712681021| 5571.243320190696|5044.2224189470635| 5571.243320190696|5044.2224189470635|
|  174| cjwztyab|      1|    8| 8190.256431180303| 6267.964915063347| 5224.184550728871| 6267.964915063347| 5224.184550728871|
|  359| ullqzdgx|      1|    8| 7187.726778386144| 6267.964915063347| 5224.184550728871| 6267.964915063347| 5224.184550728871|
|  457| zmsethvs|      1|   10|3513.1166209239095|4028.6208085540793| 5170.035492161211|4028.6208085540793| 5170.035492161211|

### quarter then month

In [ ]:
+-----+---------+-------+-----+------------------+------------------+------------------+------------------+------------------+
|index|passwords|quarter|month|             price|        avg_priceQ|        avg_priceM|       avg_priceQM|      avg_priceQM2|
+-----+---------+-------+-----+------------------+------------------+------------------+------------------+------------------+
|   34| higrpjmt|      1|    4| 6339.108660097459| 4631.304900548585| 4869.663346376393| 4869.663346376393| 4631.304900548585|
|  109| wyxinfwk|      1|    4| 2374.710542665626| 4631.304900548585| 4869.663346376393| 4869.663346376393| 4631.304900548585|
|  145| jhfxegcs|      1|    4|3293.3090538514407| 4631.304900548585| 4869.663346376393| 4869.663346376393| 4631.304900548585|
|   31| qzczigak|      1|    6| 4058.168883900758| 4843.452551806632| 5825.451313405875| 5825.451313405875| 4843.452551806632|
|   10| tqkbzfbd|      1|    7| 5038.718599778232|5044.2224189470635| 5571.243320190696| 5571.243320190696|5044.2224189470635|
|  361| ndjryrjb|      1|    7|5801.8506640415435|5044.2224189470635| 5571.243320190696| 5571.243320190696|5044.2224189470635|
|  487| iwmeldtm|      1|    8| 6943.407184649127| 5224.184550728871| 6267.964915063347| 6267.964915063347| 5224.184550728871|
|   70| hkjhieed|      1|   10|  2859.92825187243| 5170.035492161211|4028.6208085540793|4028.6208085540793| 5170.035492161211|

# byMonth

In [110]:
df_w1 = df1.withColumn('new_win', avg("price").over(byMonth))

In [111]:
df_w1.limit(50).toPandas()

    index passwords  quarter  month    price  new_win
0      35  vuirsthb        1      1 3,933.36 2,811.85
1      99  umtmvgmb        1      1 1,887.00 2,811.85
2     131  ktstnwst        1      1   701.86 2,811.85
3     237  ftncbemr        1      1 8,576.77 2,811.85
4     255  dwkpafwn        1      1    59.76 2,811.85
5     281  pkxlxxjb        1      1   630.41 2,811.85
6     287  tdyqzcle        1      1 1,831.79 2,811.85
7     310  oyerfrch        1      1 6,388.64 2,811.85
8     346  rsmjocpc        1      1 2,298.90 2,811.85
9     363  orgtushl        1      1 1,828.20 2,811.85
10    414  etmqutqg        1      1 2,521.13 2,811.85
11    453  ssfcwbtn        1      1 3,084.37 2,811.85
12     39  xceredxk        1      2 7,717.83 4,273.27
13    109  wvvmdbqe        1      2 3,910.94 4,273.27
14    171  rsqbmdtn        1      2 6,065.39 4,273.27
15    215  ttmewome        1      2 4,253.18 4,273.27
16    424  pyuqpkgf        1      2 7,709.64 4,273.27
17    437  hcscgjsj        1      2 9,602.19 4,273.27
18    473  eislcqzd        1      2 8,190.75 4,273.27
19     23  nigzqfwz        1      3 5,464.49 4,980.61
20     43  cgjfayqb        1      3 3,869.97 4,980.61
21     44  ueprchos        1      3 5,679.19 4,980.61
22     60  nvsrnsyo        1      3 9,940.24 4,980.61
23     63  afxiugip        1      3 8,190.72 4,980.61
24    114  jyziwkuz        1      3 5,952.39 4,980.61
25    181  hiuyoqxl        1      3 8,355.82 4,980.61
26    223  lzfwehjj        1      3   690.49 4,980.61
27    330  nzvrlhqx        1      3 1,074.79 4,980.61
28    463  zjlexodo        1      3 9,573.75 4,980.61
29    471  uzuonbvr        1      3 9,434.24 4,980.61
30     12  qtcjzhyd        1      4 5,373.18 4,652.40
31     15  xtxsmvtt        1      4 8,220.58 4,652.40
32    100  chseyjrm        1      4 1,166.77 4,652.40
33    148  dhoiumue        1      4   849.24 4,652.40
34    160  twrydwga        1      4 4,418.29 4,652.40
35    216  corqkhnl        1      4   300.82 4,652.40
36    240  fasnsudj        1      4 2,071.88 4,652.40
37    301  vjnstzhp        1      4 5,984.27 4,652.40
38    418  spqiwwyb        1      4 7,051.42 4,652.40
39    454  jhvyvzsj        1      4 4,614.62 4,652.40
40    467  djucuvee        1      4 1,279.02 4,652.40
41     13  grntrskf        1      5 9,494.53 4,739.01
42     22  vieouxfh        1      5 2,591.61 4,739.01
43     59  uudinikv        1      5   102.54 4,739.01
44    191  uajhsqoq        1      5 5,216.19 4,739.01
45    325  vqwafzko        1      5 8,807.69 4,739.01
46    356  nfmvrjyt        1      5   958.08 4,739.01
47    362  eltjzfhu        1      5 6,313.56 4,739.01
48    439  zqxhrzhu        1      5   406.08 4,739.01
49    458  yvpjssjn        1      5 6,915.95 4,739.01

In [108]:
df_w1.count()

500

In [114]:
df_w1.select("new_win").distinct().limit(100).toPandas()

    new_win
0  5,253.71
1  4,739.01
2  5,283.91
3  5,280.76
4  5,153.14
5  4,660.07
6  5,141.04
7  4,818.53
8  5,107.83
9  5,658.42
10 5,120.81
11 6,114.34
12 6,138.46
13 4,557.11
14 5,316.91
15 5,216.27
16 5,237.62
17 5,257.13
18 5,160.89
19 5,512.25
20 5,012.58
21 4,972.07
22 6,234.10
23 5,361.93
24 5,224.11
25 5,239.57
26 5,128.77
27 4,273.27
28 5,232.74
29 4,652.40
30 4,980.61
31 5,552.13
32 2,811.85
33 5,218.48
34 4,953.12
35 5,436.41
36 5,340.35
37 5,370.07
38 5,408.14
39 5,373.50
40 5,166.74
41 5,339.40
42 5,185.80
43 4,987.17
44 4,699.77
45 5,474.77
46 5,122.24
47 4,782.44