# DataFrame Builder:

In [1]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

In [2]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [3]:
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

In [4]:
print(os.path.dirname(sys.executable))

C:\Users\d810216\AppData\Local\conda\conda\envs\my_root

In [5]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [6]:
# print(sys.path)
print(my_library)
print(my_spark)
print(os.listdir(my_spark))

C:\Users\d810216/.myconfigs
C:\Users\d810216/spark2_dfanalysis
['.git', '.gitignore', 'builder', 'css', 'data', 'LICENSE', 'notebooks', 'pages', 'project', 'README.md', 'shared', 'TODO.md', '_config.yml', '__init__.py']

In [7]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

# spark = SparkSession.builder.appName('myappname').getOrCreate()
# print(spark)

In [8]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [9]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")
print(ctx.spark)

<pyspark.sql.session.SparkSession object at 0x000001C2145485C0>

In [10]:
# print(sys.path)
from builder.DataFrameBuild import *

## DataFrameBuild
### x = DataFrameBuild(ctx.spark)

In [11]:
x = DataFrameBuild(ctx.spark)
print(type(x))
print(dir(x))
print(x.spark)

<class 'builder.DataFrameBuild.DataFrameBuild'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'arrays_to_dataframe', 'build_array', 'get_StructField', 'print_size', 'spark']
<pyspark.sql.session.SparkSession object at 0x0000022E1E659208>

### Create Arrays

In [12]:
mystr = x.build_array("string",num=12,width=8) 
myint = x.build_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.build_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['ocarqqsz', 'owyuddnz', 'xfsvhitx', 'rqlryonj', 'yeocttnz', 'mdukeybu', 'mgoznubv', 'jenkdvaw', 'pvpcegfj', 'kvftnzyf', 'xbqtnnfg', 'hkgvuqzd']
12 [3 4 3 4 4 0 3 0 2 4 1 1]
12 [10.02379843 10.09148806 10.05080446 10.09075265 10.07750868 10.02849091
 10.00031573 10.03118225 10.05912232 10.04654396 10.08371479 10.04413393]

### Create DataFrames

#### with a list of list of strings, and list of string of length 1

In [13]:
dfx = x.arrays_to_dataframe([mystr],['random_letters'])
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------------+
|random_letters|
+--------------+
|      ocarqqsz|
|      owyuddnz|
|      xfsvhitx|
|      rqlryonj|
|      yeocttnz|
|      mdukeybu|
|      mgoznubv|
|      jenkdvaw|
|      pvpcegfj|
|      kvftnzyf|
|      xbqtnnfg|
|      hkgvuqzd|
+--------------+

#### with a list of list of strings, and a string

In [14]:
dfx = x.arrays_to_dataframe([mystr],'random_letters')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------------+
|random_letters|
+--------------+
|      ocarqqsz|
|      owyuddnz|
|      xfsvhitx|
|      rqlryonj|
|      yeocttnz|
|      mdukeybu|
|      mgoznubv|
|      jenkdvaw|
|      pvpcegfj|
|      kvftnzyf|
|      xbqtnnfg|
|      hkgvuqzd|
+--------------+

#### with lists of length 2

In [15]:
print(myint)
print(mystr)
dfx = x.arrays_to_dataframe([myint,mystr],['random_ints','random_letters'])
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

[3 4 3 4 4 0 3 0 2 4 1 1]
['ocarqqsz', 'owyuddnz', 'xfsvhitx', 'rqlryonj', 'yeocttnz', 'mdukeybu', 'mgoznubv', 'jenkdvaw', 'pvpcegfj', 'kvftnzyf', 'xbqtnnfg', 'hkgvuqzd']
12
+-----------+--------------+
|random_ints|random_letters|
+-----------+--------------+
|          3|      ocarqqsz|
|          4|      owyuddnz|
|          3|      xfsvhitx|
|          4|      rqlryonj|
|          4|      yeocttnz|
|          0|      mdukeybu|
|          3|      mgoznubv|
|          0|      jenkdvaw|
|          2|      pvpcegfj|
|          4|      kvftnzyf|
|          1|      xbqtnnfg|
|          1|      hkgvuqzd|
+-----------+--------------+

#### with a list and a string

In [16]:
dfx = x.arrays_to_dataframe(mystr,'crazy_strings')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+-------------+
|crazy_strings|
+-------------+
|     ocarqqsz|
|     owyuddnz|
|     xfsvhitx|
|     rqlryonj|
|     yeocttnz|
|     mdukeybu|
|     mgoznubv|
|     jenkdvaw|
|     pvpcegfj|
|     kvftnzyf|
|     xbqtnnfg|
|     hkgvuqzd|
+-------------+

#### with an array and a string

In [17]:
dfx = x.arrays_to_dataframe(np.linspace(0,30,31),'integers')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

31
+--------+
|integers|
+--------+
|     0.0|
|     1.0|
|     2.0|
|     3.0|
|     4.0|
|     5.0|
|     6.0|
|     7.0|
|     8.0|
|     9.0|
|    10.0|
|    11.0|
|    12.0|
|    13.0|
|    14.0|
|    15.0|
|    16.0|
|    17.0|
|    18.0|
|    19.0|
+--------+
only showing top 20 rows

#### with 1 array, no names

In [18]:
dfx = x.arrays_to_dataframe(mystr)
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------+
|     str|
+--------+
|ocarqqsz|
|owyuddnz|
|xfsvhitx|
|rqlryonj|
|yeocttnz|
|mdukeybu|
|mgoznubv|
|jenkdvaw|
|pvpcegfj|
|kvftnzyf|
|xbqtnnfg|
|hkgvuqzd|
+--------+

#### with 3 arrays, no names

In [19]:
dfx = x.arrays_to_dataframe([mystr,myint,mydoub])
print(dfx.count)
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

<bound method DataFrame.count of DataFrame[str: string, int32: bigint, float64: double]>
+--------+-----+------------------+
|     str|int32|           float64|
+--------+-----+------------------+
|ocarqqsz|    3|10.023798425839649|
|owyuddnz|    4| 10.09148805591603|
|xfsvhitx|    3|10.050804462840949|
|rqlryonj|    4|10.090752649138928|
|yeocttnz|    4|10.077508684219394|
|mdukeybu|    0|10.028490909150785|
|mgoznubv|    3|10.000315727494556|
|jenkdvaw|    0|10.031182252646053|
|pvpcegfj|    2|10.059122323821452|
|kvftnzyf|    4|10.046543963714782|
|xbqtnnfg|    1|10.083714785676403|
|hkgvuqzd|    1|10.044133928136418|
+--------+-----+------------------+

In [20]:
df1000 = DataFrameBuild(ctx.spark).arrays_to_dataframe([np.linspace(0,1000,1001)],["millenium"])
df1000.show()

+---------+
|millenium|
+---------+
|      0.0|
|      1.0|
|      2.0|
|      3.0|
|      4.0|
|      5.0|
|      6.0|
|      7.0|
|      8.0|
|      9.0|
|     10.0|
|     11.0|
|     12.0|
|     13.0|
|     14.0|
|     15.0|
|     16.0|
|     17.0|
|     18.0|
|     19.0|
+---------+
only showing top 20 rows

In [21]:
fruit = ["apple","orange","banana","grape","melon","pineapple","kiwi","lemon","lime"]

In [22]:
df_fruit = x.spark.createDataFrame(fruit,StringType()).toDF("fruit")

In [23]:
df_fruit.show()

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [24]:
def get_string_fields(lst):
    n = len(lst)
    fields = [StructField(x,StringType(),True) for x in lst]
    return fields

fields_fruit = get_string_fields(fruit)
# df = x.spark.createDataFrame(fruit,fields_fruit)

### Example 1.

In [25]:
X = DataFrameBuild(ctx.spark)
print(fruit,type(fruit))
print(len(fruit))

df_fruit = X.arrays_to_dataframe([fruit,fruit],["fruit1","fruit2"])

['apple', 'orange', 'banana', 'grape', 'melon', 'pineapple', 'kiwi', 'lemon', 'lime'] <class 'list'>
9

In [26]:
print(df_num_fruit.columns)
print(df_fruit.columns)
print(df_random_num.columns)

NameError: name 'df_num_fruit' is not defined

In [ ]:
print(df_num_fruit.count())
print(df_fruit.count())
print(df_random_num.count())

In [ ]:
df_f2 = df_num_fruit.unionAll(df_fruit)
# unionAll appends 2nd dataframe to the end of the 1st
# Vertical Join

In [ ]:
df_f2.show()

In [ ]:
df_com = df_num_fruit.join(df_fruit,df_num_fruit['Index'] != df_fruit["fruit"],"outer")

# horizontal join, but non inner..

In [ ]:
df_com.show()

In [ ]:
x = DataFrameBuild(ctx.spark)
df_multi = x.df_multidimensional(4,3,[('name','string',6),
                                      ('address','integer',(1000,9999)),
                                      ('portion','double',(0.0,1.0))])

In [ ]:
df_multi.show()

### Example 2. Another random, multidimensional dataframe

In [ ]:
x = DataFrameBuild(ctx.spark)
df_multi6 = x.df_multidimensional(500,6,[('user','string',6),
                                         ('id','integer',(1,10000)),
                                         ('password','string2',13),
                                         ('address','integer',(1000,9999)),
                                         ('decimal','double',(0.0,1.0)),
                                         ('worth','double',(0.0,10000000))])

In [ ]:
df_multi6.show()

### Example 3. build_array --> to DataFrame

In [ ]:
x = DataFrameBuild(ctx.spark)

In [ ]:
print(x.build_array.__doc__)

In [ ]:
mystr = x.build_array("string",num=12,width=8) 
myint = x.build_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.build_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

In [ ]:
# list of arrays .. pass into function, tell function to get type, zip.
x = DataFrameBuild(ctx.spark)

lst_names = ["passwords","quarter","tens"]
lst = [mystr,myint,mydoub]

df = x.df_from_arrays(lst,lst_names)

In [ ]:
df.show()

### Example 4. Choose array type, get DataFrame

In [ ]:
x = DataFrameBuild(ctx.spark)
num = 500
df4 = x.arrays_to_dataframe([x.build_array("string",num=num,width=8),
                        x.build_array("integer",num=num,nrange=(1,4)),
                        x.build_array("integer",num=num,nrange=(1,12)),
                        x.build_array("double",num=num,nrange=(0.0,10000))],
                      ['passwords','quarter','month','price'])

In [ ]:
df4.limit(20).toPandas()

# Build some arrays, put them into a DataFrame

In [ ]:
x = DataFrameBuild(ctx.spark)
num = 500
df4 = x.arrays_to_dataframe([[int(x) for x in np.linspace(1,num,num)],
                             x.build_array("string",num=num,width=8),
                             x.build_array("integer",num=num,nrange=(1,4)),
                             x.build_array("integer",num=num,nrange=(1,12)),
                             x.build_array("double",num=num,nrange=(0.0,10000))],
                             ['index','passwords','quarter','month','price'])

In [ ]:
df4.show()

In [ ]:
df4.orderBy("index").show()

In [ ]:
df4.select("index").distinct().count()